Repository jeremykenedy/laravel-spa, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, frontend-core, backend, models, notifications, providers, controllers, app-middleware, commands-and-crons, app-requests, app-resource-collections, config, database, migrations, seeders, core-routing, framework, tests, language, css, images, storage, workflow, build, linting, documentation, tailwindcss, vite, vue-components, vue-routing, vue-store, vue-middleware, vue-services, vue-views, vue-admin

login
  app/Http/Controllers/Api/ProfileController.php
  resources/css/app.css
  resources/js/app.js
  resources/js/components/Nav.vue
  resources/js/components/common/AppButton.vue
  resources/js/components/plugs/GHButtons.vue
  resources/js/components/plugs/OctoCat.vue
  resources/js/composables/auth.js
  resources/js/composables/profile.js
  resources/js/composables/theme.js
  resources/js/lang/en.json
  resources/js/store/auth.js
  resources/js/views/login/Login.vue
  resources/views/app.blade.php
  routes/api.php
  tailwind.config.js
Labels: repo, backend, controllers, core-routing, css, vue-components, vue-store, vue-views

reset password
  .DS_Store
  .github/.DS_Store
  .github/workflows/.DS_Store
  app/.DS_Store
  app/Http/.DS_Store
  app/Notifications/ResetPasswordNotification.php
  config/mail.php
  database/.DS_Store
  database/migrations/.DS_Store
  database/migrations/2014_10_12_100000_create_password_resets_table.php
  database/seeders/.DS_Store
  lang/.DS_Store
  public/.DS_Store
  resources/.DS_Store
  resources/css/.DS_Store
  resources/img/.DS_Store
  resources/img/fonts/.DS_Store
  resources/js/.DS_Store
  resources/js/components/Nav.vue
  resources/js/components/common/CircleSvg.vue
  resources/js/components/common/Errors.vue
  resources/js/components/common/Success.vue
  resources/js/components/includes/.DS_Store
  resources/js/components/includes/Nav.vue
  resources/js/composables/auth.js
  resources/js/lang/en.json
  resources/js/layouts/Guest.vue
  resources/js/routes/routes.js
  resources/js/views/auth/passwords/Email.vue
  resources/js/views/auth/passwords/RequestReset.vue
  resources/js/views/auth/passwords/Reset.vue
  resources/js/views/login/Login.vue
  resources/js/views/register/index.vue
  resources/views/.DS_Store
  storage/.DS_Store
  storage/framework/.DS_Store
  tests/.DS_Store
  vite.config.js
Labels: repo, backend, notifications, database, migrations, images, storage, workflow, vue-components, vue-views

gitignore
  .gitignore
  package-lock.json
Labels: repo

dark mode localstorage call
  resources/js/components/includes/Nav.vue
  resources/js/components/plugs/GHButtons.vue
  resources/js/components/plugs/OctoCat.vue
  resources/js/views/login/Login.vue
  resources/js/views/register/index.vue
Labels: vue-components, vue-views

register flow
  database/seeders/AppSettingsSeeder.php
  resources/js/components/includes/Nav.vue
  resources/js/composables/auth.js
  resources/js/composables/profile.js
  resources/js/lang/en.json
  resources/js/views/auth/passwords/RequestReset.vue
  resources/js/views/auth/passwords/Reset.vue
  resources/js/views/misc/about.vue
  resources/js/views/register/index.vue
Labels: database, seeders, vue-components, vue-views

build flow
  package-lock.json
  package.json
  vite.config.js
Labels: repo

reset pw email
  app/Http/Controllers/Auth/ResetPasswordController.php
  app/Notifications/PersonalDataExportedNotification.php
  app/Notifications/ResetPasswordNotification.php
  app/Notifications/SendActivationEmail.php
  app/Notifications/SendGoodbyeEmail.php
  app/Notifications/SendPasswordResetEmail.php
  config/settings.php
  lang/en/emails.php
Labels: backend, notifications, controllers

dark mode update
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  resources/js/components/ToggleDarkMode.vue
  resources/js/components/includes/AppFooter.vue
  resources/js/components/includes/Nav.vue
  resources/js/components/plugs/OctoCat.vue
  resources/js/composables/darkmode.js
  resources/js/composables/profile.js
  resources/js/composables/theme.js
  resources/js/store/auth.js
  resources/js/store/sidebar.js
Labels: backend, controllers, vue-components, vue-store

WIP admin layout
  resources/js/components/includes/AdminNavbar.vue
  resources/js/components/includes/AdminSidebar.vue
  resources/js/components/includes/Nav.vue
  resources/js/composables/auth.js
  resources/js/layouts/Authenticated.vue
  resources/js/store/sidebar.js
Labels: vue-components, vue-store

Admin Dashboard and chunking
  resources/js/components/includes/AdminNavbar.vue
  resources/js/components/includes/AdminSidebar.vue
  resources/js/components/includes/Nav.vue
  resources/js/composables/auth.js
  resources/js/lang/en.json
  resources/js/layouts/Authenticated.vue
  resources/js/routes/routes.js
Labels: vue-components

update vite build
  package-lock.json
  package.json
  resources/js/lang/en.json
  vite.config.js
Labels: repo

update vite build
  package-lock.json
  package.json
  vite.config.js
Labels: repo

pagination
  package-lock.json
  package.json
  resources/js/app.js
  resources/js/components/common/Pagination.vue
  resources/js/lang/en.json
  resources/js/routes/routes.js
  resources/js/services/pagination.js
  resources/js/views/admin/activity-log/Index.vue
  resources/js/views/admin/browser-sessions/Index.vue
  resources/js/views/admin/index.vue
  vite.config.js
Labels: repo, vue-components, vue-views, vue-admin

pagination, activity log, pricing, and support
  resources/js/app.js
  resources/js/components/includes/AdminSidebar.vue
  resources/js/components/includes/Nav.vue
  resources/js/lang/en.json
  resources/js/routes/routes.js
  resources/js/services/pagination.js
  resources/js/views/admin/activity-log/Index.vue
  resources/js/views/misc/pricing.vue
  resources/js/views/misc/support.vue
Labels: vue-components, vue-views, vue-admin

NavLink component
  resources/js/components/includes/Nav.vue
  resources/js/components/includes/NavLink.vue
  resources/js/views/Blank.vue
Labels: vue-components, vue-views

ga and egg
  config/app.php
  package-lock.json
  package.json
  resources/js/app.js
  resources/js/bootstrap.js
  resources/js/components/includes/NavLink.vue
  resources/js/store/index.js
  resources/views/app.blade.php
  vite.config.js
Labels: repo, vue-components, vue-store

front end permissions functions and Admin Sidebar
  app/Models/User.php
  config/app.php
  resources/js/components/includes/AdminSidebar.vue
  resources/js/components/includes/AdminSidebarLink.vue
  resources/js/components/includes/NavLink.vue
  resources/js/lang/en.json
  resources/js/store/auth.js
Labels: backend, models, vue-components, vue-store

permissions front end and back end
  app/Exceptions/Handler.php
  app/Http/Controllers/Api/PermissionController.php
  app/Http/Controllers/Api/RoleController.php
  app/Http/Controllers/Api/UserController.php
  app/Http/Kernel.php
  app/Http/Requests/Permissions/CreatePermissionRequest.php
  app/Http/Requests/Permissions/GetPermissionsRequest.php
  app/Http/Requests/Permissions/UpdatePermissionRequest.php
  app/Http/Requests/Roles/CreateRoleRequest.php
  app/Http/Requests/Roles/GetUserRolesRequest.php
  app/Http/Requests/Roles/UpdateRoleRequest.php
  app/Http/Requests/Users/CreateUserRequest.php
  app/Http/Requests/Users/ImpersonateUserRequest.php
  app/Http/Requests/Users/UpdateUserRequest.php
  app/Http/Resources/Permissions/PermissionResource.php
  app/Http/Resources/Permissions/PermissionsCollection.php
  app/Http/Resources/Roles/RoleResource.php
  app/Http/Resources/Roles/RolesCollection.php
  composer.json
  config/permission.php
  config/roles.php
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/app.js
  resources/js/components/common/AppToast.vue
  resources/js/components/common/PerPage.vue
  resources/js/components/includes/AdminSidebar.vue
  resources/js/components/roles/PermissionFormModal.vue
  resources/js/composables/permissions.js
  resources/js/store/sidebar.js
  resources/js/store/toast.js
  resources/js/views/admin/permissions/Index.vue
  resources/views/app.blade.php
  routes/api.php
Labels: repo, backend, controllers, app-requests, app-resource-collections, core-routing, css, vue-components, vue-store, vue-views, vue-admin

roles and breadcrumbs
  .eslintrc.js
  .prettierignore
  SECURITY.md
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/components/includes/AdminNavbar.vue
  resources/js/components/roles/PermissionFormModal.vue
  resources/js/components/roles/RoleFormModal.vue
  resources/js/components/roles/RolesBadges.vue
  resources/js/composables/permissions.js
  resources/js/lang/en.json
  resources/js/layouts/Admin.vue
  resources/js/layouts/Authenticated.vue
  resources/js/layouts/Error.vue
  resources/js/routes/routes.js
  resources/js/views/admin/activity-log/Index.vue
  resources/js/views/admin/browser-sessions/Index.vue
  resources/js/views/admin/index.vue
  resources/js/views/admin/permissions/Create.vue
  resources/js/views/admin/permissions/Edit.vue
  resources/js/views/admin/permissions/Index.vue
  resources/js/views/admin/roles/Create.vue
  resources/js/views/admin/roles/Edit.vue
  resources/js/views/admin/roles/Index.vue
  routes/api.php
Labels: repo, core-routing, css, vue-components, vue-views, vue-admin

frontend middleware
  resources/js/composables/auth.js
  resources/js/routes/middleware.js
  resources/js/routes/routes.js
Labels: none

WIP users admin
  app/Http/Controllers/Api/PermissionsController.php
  app/Http/Controllers/Api/RolesController.php
  app/Http/Controllers/Api/UserController.php
  app/Http/Controllers/Api/UsersController.php
  app/Http/Requests/StorePermissionRequest.php
  app/Http/Resources/ActivityLogResource.php
  app/Http/Resources/ActivityLogs/ActivityLogResource.php
  app/Http/Resources/ActivityLogs/ActivityLogsCollection.php
  app/Http/Resources/Categories/CategoryResource.php
  app/Http/Resources/Categories/GategoriesCollection.php
  app/Http/Resources/CategoryResource.php
  app/Http/Resources/PermissionResource.php
  app/Http/Resources/Permissions/PermissionResource.php
  app/Http/Resources/Posts/PostResource.php
  app/Http/Resources/Posts/PostsCollection.php
  app/Http/Resources/UserResource.php
  app/Http/Resources/Users/UserResource.php
  app/Http/Resources/Users/UsersCollection.php
  resources/js/components/ToggleDarkMode.vue
  resources/js/components/roles/PermissionFormModal.vue
  resources/js/components/roles/RolesBadges.vue
  resources/js/components/users/UserFormModal.vue
  resources/js/routes/middleware.js
  resources/js/routes/routes.js
  resources/js/views/admin/users/Index.vue
  routes/api.php
Labels: backend, controllers, app-requests, app-resource-collections, core-routing, vue-components, vue-views, vue-admin

users tables
  app/Console/Kernel.php
  app/Http/Controllers/Api/UsersController.php
  app/Http/Controllers/Auth/VerificationController.php
  app/Http/Requests/UpdateUserRequest.php
  app/Http/Requests/Users/CreateUserRequest.php
  app/Http/Requests/Users/UpdateUserRequest.php
  app/Models/User.php
  database/migrations/0001_01_01_000000_create_users_table.php
  resources/css/app.css
  resources/js/components/users/UserFormModal.vue
  resources/js/composables/auth.js
  resources/js/lang/en.json
  resources/js/services/utilities.js
  resources/js/views/admin/users/Index.vue
  resources/js/views/login/Login.vue
  resources/js/views/register/index.vue
  routes/api.php
Labels: backend, models, controllers, commands-and-crons, app-requests, database, migrations, core-routing, css, vue-components, vue-views, vue-admin

WIP posts
  app/Http/Controllers/Api/ActivityLogController.php
  app/Http/Controllers/Api/CategoryController.php
  app/Http/Controllers/Api/PostController.php
  app/Http/Requests/Categories/StoreCategoryRequest.php
  app/Http/Requests/Posts/StorePostRequest.php
Labels: backend, controllers, app-requests

impersonate
  app/Http/Controllers/Api/PostController.php
  app/Http/Controllers/Api/ProfileController.php
  app/Http/Controllers/Api/UserController.php
  app/Http/Controllers/Auth/ImpersonateController.php
  app/Http/Requests/Users/LeaveImpersonateUserRequest.php
  resources/js/components/ToggleDarkMode.vue
  resources/js/components/includes/AdminNavbar.vue
  resources/js/components/includes/AdminSidebar.vue
  resources/js/components/includes/Nav.vue
  resources/js/composables/auth.js
  resources/js/store/auth.js
  resources/js/store/toast.js
  resources/js/views/Blank.vue
  resources/js/views/admin/users/Index.vue
  routes/api.php
Labels: backend, controllers, app-requests, core-routing, vue-components, vue-store, vue-views, vue-admin

permissions cleanup and impersonator cleanup
  app/Http/Controllers/Api/ProfileController.php
  app/Http/Controllers/Api/UsersController.php
  app/Http/Requests/Permissions/CreatePermissionRequest.php
  app/Http/Requests/Permissions/GetPermissionsRequest.php
  app/Http/Requests/Permissions/UpdatePermissionRequest.php
  app/Http/Requests/Roles/CreateRoleRequest.php
  app/Http/Requests/Roles/GetUserRolesRequest.php
  app/Http/Requests/Roles/UpdateRoleRequest.php
  app/Http/Requests/Users/CreateUserRequest.php
  app/Http/Requests/Users/DeleteUserRequest.php
  app/Http/Requests/Users/LeaveImpersonateUserRequest.php
  app/Http/Requests/Users/RestoreUserRequest.php
  app/Http/Requests/Users/UpdateUserRequest.php
  app/Http/Requests/Users/VerifyUserRequest.php
  app/Http/Requests/Users/ViewUserRequest.php
  database/seeders/ConnectRelationshipsSeeder.php
  database/seeders/PermissionsTableSeeder.php
  resources/js/components/common/AppModal.vue
  resources/js/components/common/ImpersonateUser.vue
  resources/js/components/common/LeaveImpersonation.vue
  resources/js/components/includes/AdminNavbar.vue
  resources/js/components/includes/Nav.vue
  resources/js/components/roles/PermissionFormModal.vue
  resources/js/components/roles/RoleFormModal.vue
  resources/js/components/users/UserFormModal.vue
  resources/js/lang/en.json
  resources/js/routes/routes.js
  resources/js/store/auth.js
  resources/js/views/admin/users/Index.vue
  routes/api.php
Labels: backend, controllers, app-requests, database, seeders, core-routing, vue-components, vue-store, vue-views, vue-admin

updates
  app/Http/Controllers/Api/PostController.php
  app/Http/Resources/Posts/PostResource.php
  resources/js/components/includes/AdminNavbar.vue
  resources/js/components/includes/Nav.vue
  resources/js/components/includes/NavLink.vue
  resources/js/composables/posts.js
  resources/js/lang/en.json
  resources/js/services/utilities.js
  resources/js/views/admin/posts/Index.vue
  resources/js/views/admin/roles/Index.vue
  resources/js/views/admin/users/Create.vue
  resources/js/views/admin/users/Edit.vue
  resources/js/views/admin/users/Index.vue
  routes/api.php
Labels: backend, controllers, app-resource-collections, core-routing, vue-components, vue-views, vue-admin

posts table
  .eslintrc.js
  .eslintrc.json
  app/Http/Controllers/Api/PostController.php
  app/Http/Requests/Posts/DeletePostRequest.php
  app/Http/Requests/Posts/ShowPostRequest.php
  app/Http/Requests/Posts/UpdatePostRequest.php
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/components/admin/Create.vue
  resources/js/components/common/NoRecordsCTA.vue
  resources/js/components/form/AppSettingTextarea.vue
  resources/js/composables/auth.js
  resources/js/composables/posts.js
  resources/js/lang/en.json
  resources/js/views/admin/posts/Create.vue
  resources/js/views/admin/posts/Edit.vue
  resources/js/views/admin/posts/Index.vue
  resources/js/views/posts/details.vue
Labels: repo, backend, controllers, app-requests, css, vue-components, vue-views, vue-admin

post updates
  .env.example
  app/Http/Controllers/Api/CategoryController.php
  app/Http/Controllers/Api/PostController.php
  app/Http/Controllers/Api/UsersController.php
  app/Http/Requests/Categories/DeleteCategoryRequest.php
  app/Http/Requests/Categories/RestoreCategoryRequest.php
  app/Http/Requests/Categories/ShowCategoryRequest.php
  app/Http/Requests/Categories/StoreCategoryRequest.php
  app/Http/Requests/Categories/UpdateCategoryRequest.php
  app/Http/Requests/Posts/DeletePostRequest.php
  app/Http/Requests/Posts/RestorePostRequest.php
  app/Http/Requests/Posts/ShowPostRequest.php
  app/Http/Requests/Posts/UpdatePostRequest.php
  app/Http/Resources/Categories/CategoryResource.php
  app/Models/Category.php
  config/settings.php
  database/migrations/2022_09_30_181227_create_categories_table.php
  database/seeders/PermissionsTableSeeder.php
  database/seeders/RolesTableSeeder.php
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/app.js
  resources/js/components/DropZone.vue
  resources/js/components/common/CKEditorComponent.vue
  resources/js/components/common/DropZone.vue
  resources/js/components/common/TextEditorComponent.vue
  resources/js/components/common/TinyMCEditor.vue
  resources/js/components/common/UmoEditor.vue
  resources/js/composables/categories.js
  resources/js/composables/posts.js
  resources/js/lang/en.json
  resources/js/views/Blank.vue
  resources/js/views/admin/categories/Index.vue
  resources/js/views/admin/posts/Create.vue
  resources/js/views/admin/posts/Edit.vue
  resources/js/views/admin/posts/Index.vue
  resources/views/app.blade.php
Labels: repo, backend, models, controllers, app-requests, app-resource-collections, database, migrations, seeders, css, vue-components, vue-views, vue-admin

categories
  resources/js/components/common/DropZone.vue
  resources/js/composables/categories.js
  resources/js/views/admin/categories/Create.vue
  resources/js/views/admin/categories/Edit.vue
  resources/js/views/admin/posts/Edit.vue
Labels: vue-components, vue-views, vue-admin

app settings
  README.md
  app/Exceptions/SocialProviderDeniedException.php
  app/Http/Controllers/Admin/AppSettingsController.php
  app/Http/Controllers/Admin/ServerInfoController.php
  app/Http/Controllers/Auth/SocialiteController.php
  app/Http/Requests/Admin/ShowAppSettingsRequest.php
  app/Http/Requests/Admin/ShowServerInfoRequest.php
  app/Http/Requests/Admin/UpdateAppSettingsRequest.php
  app/Providers/AppServiceProvider.php
  app/Providers/EventServiceProvider.php
  app/Traits/AppSettingsTrait.php
  database/seeders/PermissionsTableSeeder.php
  resources/js/app.js
  resources/js/components/auth/SocialiteLogins.vue
  resources/js/components/form/AppSettingTextInput.vue
  resources/js/components/includes/AdminSidebar.vue
  resources/js/lang/en.json
  resources/js/routes/routes.js
  resources/js/store/auth.js
  resources/js/views/admin/AppSettings.vue
  resources/js/views/admin/PhpInfo.vue
  resources/js/views/login/Login.vue
  resources/views/socialite/callback.blade.php
  resources/views/socialite/denied.blade.php
  routes/api.php
Labels: repo, backend, providers, controllers, app-requests, database, seeders, core-routing, vue-components, vue-store, vue-views, vue-admin

social login
  .env.example
  resources/js/components/auth/SocialiteLogins.vue
  resources/js/services/analytics.js
  resources/js/store/auth.js
  resources/js/views/admin/AppSettings.vue
  resources/js/views/register/index.vue
Labels: repo, vue-components, vue-store, vue-views, vue-admin

analytics updated && sentry updated
  resources/js/app.js
  resources/js/components/auth/SocialiteLogins.vue
  resources/js/services/analytics.js
  resources/js/views/misc/pricing.vue
  resources/js/views/misc/support.vue
Labels: vue-components, vue-views

admin navs, wip settings
  resources/js/components/includes/AdminNavBarLink.vue
  resources/js/components/includes/AdminNavbar.vue
  resources/js/components/includes/AdminSidebar.vue
  resources/js/lang/en.json
  resources/js/routes/routes.js
  resources/js/views/admin/profile/index.vue
  resources/js/views/pages/settings/Settings.vue
  resources/js/views/pages/settings/SettingsNav.vue
  resources/js/views/pages/settings/SettingsNavLink.vue
  routes/api.php
Labels: core-routing, vue-components, vue-views, vue-admin

update admin sidebar
  resources/js/components/includes/AdminNavbar.vue
  resources/js/components/includes/AdminSidebar.vue
Labels: vue-components

breadcrumbs cleanup && user settings stubs
  resources/js/app.js
  resources/js/components/includes/AdminBreadcrumb.vue
  resources/js/components/includes/AdminBreadcrumbContainer.vue
  resources/js/components/includes/AdminBreadcrumbSep.vue
  resources/js/lang/en.json
  resources/js/routes/routes.js
  resources/js/views/admin/ActivityLog.vue
  resources/js/views/admin/AppSettings.vue
  resources/js/views/admin/BrowserSessions.vue
  resources/js/views/admin/Dashboard.vue
  resources/js/views/admin/Permissions.vue
  resources/js/views/admin/PhpInfo.vue
  resources/js/views/admin/Roles.vue
  resources/js/views/admin/Users.vue
  resources/js/views/admin/categories/Create.vue
  resources/js/views/admin/categories/Edit.vue
  resources/js/views/admin/categories/Index.vue
  resources/js/views/admin/index.vue
  resources/js/views/admin/posts/Create.vue
  resources/js/views/admin/posts/Edit.vue
  resources/js/views/admin/posts/Index.vue
  resources/js/views/pages/user-settings/Account.vue
  resources/js/views/pages/user-settings/Password.vue
  resources/js/views/pages/user-settings/Profile.vue
  resources/js/views/pages/user-settings/Settings.vue
  resources/js/views/pages/user-settings/SettingsNav.vue
  resources/js/views/pages/user-settings/SettingsNavLink.vue
Labels: vue-components, vue-views, vue-admin

admin dashboard
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Requests/Admin/AdminDashboardRequest.php
  package-lock.json
  resources/css/app.css
  resources/js/components/common/AdminMiniCard.vue
  resources/js/components/common/LoadingCircle.vue
  resources/js/components/common/SocialMediaLoginStatus.vue
  resources/js/components/common/SocialMediaLoginStatusItem.vue
  resources/js/components/includes/AdminBreadcrumb.vue
  resources/js/components/includes/AdminSidebar.vue
  resources/js/lang/en.json
  resources/js/routes/routes.js
  resources/js/store/auth.js
  resources/js/views/admin/Admin.vue
  resources/js/views/admin/AppSettings.vue
  resources/js/views/admin/Permissions.vue
  resources/js/views/admin/PhpInfo.vue
  resources/js/views/admin/Roles.vue
  resources/js/views/admin/Users.vue
  resources/js/views/admin/categories/Create.vue
  resources/js/views/admin/categories/Edit.vue
  resources/js/views/admin/categories/Index.vue
  resources/js/views/admin/posts/Create.vue
  resources/js/views/admin/posts/Edit.vue
  resources/js/views/admin/posts/Index.vue
  resources/js/views/auth/Verify.vue
  resources/js/views/auth/passwords/Confirm.vue
  routes/api.php
Labels: repo, backend, controllers, app-requests, core-routing, css, vue-components, vue-store, vue-views, vue-admin

cleanup
  resources/js/views/admin/Admin.vue
Labels: vue-views, vue-admin

fix syntax errors
  app/Http/Resources/Users/UserResource.php
  app/Notifications/SendGoodbyeEmail.php
Labels: backend, notifications, app-resource-collections

update readme
  README.md
Labels: repo

WIP :: User Account Settings
  resources/js/lang/en.json
  resources/js/views/admin/categories/Index.vue
  resources/js/views/pages/user-settings/Account.vue
  resources/js/views/pages/user-settings/AccountAuthentication.vue
  resources/js/views/pages/user-settings/AccountData.vue
  resources/js/views/pages/user-settings/Profile.vue
  resources/js/views/pages/user-settings/UserDownloadData.vue
  resources/js/views/templates/Bare.vue
  resources/js/views/templates/Blank.vue
  routes/api.php
Labels: core-routing, vue-views, vue-admin

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - '*'

frontend-core:
  - any: ['resources/js/app.js', 'resources/js/bootstrap.js']

# Add 'frontend` label to any change to *.js files as long as the `app.js` hasn't changed
frontend:
  - any: ['resources/js/**/*.js', 'resources/css/**/*.css']
    all: ['!resources/js/app.js']

backend:
  - any: ['app/**/*.php']

models:
  - any: ['app/Models/**/*.php']

notifications:
  - any: ['app/Notifications/**/*.php']

providers:
  - any: ['app/Providers/**/*.php']

controllers:
  - any: ['app/Http/Controllers/**/*.php']

app-middleware:
  - any: ['app/Http/Middleware/**/*.php', 'app/Http/Kernel.php']

commands-and-crons:
  - any: ['app/Console/**/*.php']

app-requests:
  - any: ['app/Http/Requests/**/*.php']

app-resource-collections:
  - any: ['app/Http/Resources/**/*.php']

config:
  - any: ['config/**/*.php', '.env.example']

database:
  - any: ['database/**/*.php']

migrations:
  - any: ['database/migrations/**/*.php']

seeders:
  - any: ['database/seeders/**/*.php']

core-routing:
  - any: ['routes/**/*.php']

framework:
  - any: ['bootstrap/**/*.php']

tests:
  - any: ['tests/**/*.php']

language:
  - any: ['resources/lang/**/*.php']

css:
  - any: ['resources/css/**/*.css']

images:
  - any: ['resources/img/**/*.*']

storage:
  - any: ['storage/**/*.*']

workflow:
  - any: ['.github/**/*.*']

build:
  - any: ['*.js', '*.yml', '*.json', '*.ts', '*.xml', '*.travis']

linting:
  - any:
      [
        '.browserslistrc',
        '.eslintrc.js',
        '.editorconfig',
        '.prettierignore',
        'prettierrc.json',
      ]

documentation:
  - any: ['*.md', 'LICENSE', '.example']

tailwindcss:
  - any:
      [
        'tailwindcss-perspective.js',
        'tailwind.config.js',
        'resources/css/**/*.css',
      ]

vite:
  - any: ['vite.config.ts', 'tsconfig.vite-config.json', 'tsconfig.json']

vue-components:
  - any: ['resources/js/components/**/*.vue']

vue-routing:
  - any: ['resources/js/router/**/*.js']

vue-store:
  - any: ['resources/js/store/**/*.js']

vue-middleware:
  - any: ['resources/js/middleware/**/*.js']

vue-services:
  - any: ['resources/js/middleware/**/*.js']

vue-views:
  - any: ['resources/js/views/**/*.vue']

vue-admin:
  - any: ['resources/js/views/admin/**/*.vue']
