Repository jeremykenedy/laravel-spa, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, frontend-core, backend, models, notifications, providers, controllers, app-middleware, commands-and-crons, app-requests, app-resource-collections, config, database, migrations, seeders, core-routing, framework, tests, language, css, images, storage, workflow, build, linting, documentation, tailwindcss, vite, vue-components, vue-routing, vue-store, vue-middleware, vue-services, vue-views, vue-admin

download user data feature
  app/Http/Controllers/Auth/SocialiteController.php
  app/Notifications/PersonalDataExportedNotification.php
  config/filesystems.php
  lang/en/emails.php
  lang/vendor/personal-data-export/en/notifications.php
  resources/css/app.css
  resources/js/components/includes/AdminSidebar.vue
  resources/js/components/users/UserDownloadData.vue
  resources/js/lang/en.json
  resources/js/store/auth.js
  resources/js/views/pages/user-settings/AccountAuthentication.vue
  resources/js/views/pages/user-settings/Settings.vue
  resources/js/views/pages/user-settings/SettingsNav.vue
  resources/js/views/pages/user-settings/UserDownloadData.vue
  routes/api.php
  routes/web.php
Labels: backend, notifications, controllers, core-routing, css, vue-components, vue-store, vue-views

profile update feature
  resources/js/components/DualListBox.vue
  resources/js/components/ExampleComponent.vue
  resources/js/components/Footer.vue
  resources/js/components/auth/SocialiteLogins.vue
  resources/js/components/form/AppSettingTextInput.vue
  resources/js/components/form/AppSettingToggle.vue
  resources/js/components/form/AppTextInput.vue
  resources/js/composables/profile.js
  resources/js/routes/routes.js
  resources/js/views/pages/user-settings/Profile.vue
Labels: vue-components, vue-views

Apply fixes from StyleCI
  app/Notifications/PersonalDataExportedNotification.php
Labels: backend, notifications

update user password feature
  app/Http/Controllers/Auth/PasswordController.php
  resources/css/app.css
  resources/js/components/form/AppPasswordInput.vue
  resources/js/components/includes/AdminNavbar.vue
  resources/js/composables/profile.js
  resources/js/lang/en.json
  resources/js/views/pages/user-settings/Password.vue
  resources/js/views/pages/user-settings/Profile.vue
  routes/api.php
Labels: backend, controllers, core-routing, css, vue-components, vue-views

update
  .styleci.yml
  LICENSE
  README.md
  composer.json
Labels: repo

Apply fixes from StyleCI
  app/Traits/SocialiteProvidersTrait.php
Labels: backend

update
  README.md
Labels: repo

add back in GH workflows
  .github/workflows/build-changelog.yml
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/gitguardian.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/laravel.yml
  .github/workflows/node.js.yml
  .github/workflows/php.yml
  .github/workflows/sentry.yml
  .github/workflows/stale.yml
Labels: workflow

Update node.js.yml
  .github/workflows/node.js.yml
Labels: workflow

fix pinia rollback
  package-lock.json
  package.json
Labels: repo

update workflow
  .github/workflows/node.js.yml
Labels: workflow

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - '*'

frontend-core:
  - any: ['resources/js/app.js', 'resources/js/bootstrap.js']

# Add 'frontend` label to any change to *.js files as long as the `app.js` hasn't changed
frontend:
  - any: ['resources/js/**/*.js', 'resources/css/**/*.css']
    all: ['!resources/js/app.js']

backend:
  - any: ['app/**/*.php']

models:
  - any: ['app/Models/**/*.php']

notifications:
  - any: ['app/Notifications/**/*.php']

providers:
  - any: ['app/Providers/**/*.php']

controllers:
  - any: ['app/Http/Controllers/**/*.php']

app-middleware:
  - any: ['app/Http/Middleware/**/*.php', 'app/Http/Kernel.php']

commands-and-crons:
  - any: ['app/Console/**/*.php']

app-requests:
  - any: ['app/Http/Requests/**/*.php']

app-resource-collections:
  - any: ['app/Http/Resources/**/*.php']

config:
  - any: ['config/**/*.php', '.env.example']

database:
  - any: ['database/**/*.php']

migrations:
  - any: ['database/migrations/**/*.php']

seeders:
  - any: ['database/seeders/**/*.php']

core-routing:
  - any: ['routes/**/*.php']

framework:
  - any: ['bootstrap/**/*.php']

tests:
  - any: ['tests/**/*.php']

language:
  - any: ['resources/lang/**/*.php']

css:
  - any: ['resources/css/**/*.css']

images:
  - any: ['resources/img/**/*.*']

storage:
  - any: ['storage/**/*.*']

workflow:
  - any: ['.github/**/*.*']

build:
  - any: ['*.js', '*.yml', '*.json', '*.ts', '*.xml', '*.travis']

linting:
  - any:
      [
        '.browserslistrc',
        '.eslintrc.js',
        '.editorconfig',
        '.prettierignore',
        'prettierrc.json',
      ]

documentation:
  - any: ['*.md', 'LICENSE', '.example']

tailwindcss:
  - any:
      [
        'tailwindcss-perspective.js',
        'tailwind.config.js',
        'resources/css/**/*.css',
      ]

vite:
  - any: ['vite.config.ts', 'tsconfig.vite-config.json', 'tsconfig.json']

vue-components:
  - any: ['resources/js/components/**/*.vue']

vue-routing:
  - any: ['resources/js/router/**/*.js']

vue-store:
  - any: ['resources/js/store/**/*.js']

vue-middleware:
  - any: ['resources/js/middleware/**/*.js']

vue-services:
  - any: ['resources/js/middleware/**/*.js']

vue-views:
  - any: ['resources/js/views/**/*.vue']

vue-admin:
  - any: ['resources/js/views/admin/**/*.vue']
